
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <title>{{name}}</title>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--link to bootstrap css -->
        <link href=".{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href=".{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
        
    </head>
    
    <body>

        <!--navbar -->
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h3 class "navbar-brand mb-0"> {{name}}</h3>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ url_for("index") }}">Dayton Dynamic Languages</a></li>
                </ul>                        
            </div>
        </nav>
        <div class="container">
<!--content goes here-->            

            {% block content %}
            
            {% endblock content %}

<!--footer -->
            <footer class="footer">
                <div class="text-center">
                    <span class="text-muted">Based on <a href="https://github.com/nkicg6/cookiecutter-static-flask">cookie-cutter-static-flask</a> by Nicholas George</span>
                </div>
            </footer>
        </div>
    </body>
</html>

