
{% extends "base.html" %}

{% block content %}

<h1>Rowsetta: Programming language comparison</h1>

<table>
    <caption>Solutions by language</caption>
    <tr>
        <th scope="col"></th>
        {% for lang in languages %}
        <th scope="col">
            {{ lang }}
        </th>
        {% endfor %}
    </tr>

    {% for (soln_name, soln_dict) in solutions.items() %}
    <tr>
        <th scope="row">{{ soln_name.replace('_', ' ') }}</th>
        {% for lang in languages %}
        <td>
            <code>
{{ soln_dict[lang] }}
            </code>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock content %}

